<html>
  <head>
    <!-- css stylesheets go here -->
  </head>

  <body>
      <form action="/assigned?{{ group_name }}" method="post">
          List of Names: <br>
      <input name="1" type="text"><br>
      <input name="2" type="text"><br>
      <input name="3" type="text"><br>
      <input name="4" type="text"><br>
      <input name="5" type="text"><br>
      <input name="6" type="text"><br>
      <input name="7" type="text"><br>
      <input name="8" type="text"><br>
      <input name="9" type="text"><br>
      <input name="10" type="text"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
