<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    <h1>Secret-Santa Style Name Selector</h1>
    <h2>Type at least 3 and up to 10 names and email addresses. Each person will be randomly assigned one other person to buy a gift for. Each person will receive an email with the name of the person they should buy a gift for.</h2>
    <p id="input_form">
      <form method="post">
              List of Names and Email Addresses: <br>
        1. <input name="name1" type="text" placeholder="Name" required>&nbsp;&nbsp;<input name="email1" type="email" placeholder="Email" required><br>
        2. <input name="name2" type="text" placeholder="Name" required>&nbsp;&nbsp;<input name="email2" type="email" placeholder="Email" required><br>
        3. <input name="name3" type="text" placeholder="Name" required>&nbsp;&nbsp;<input name="email3" type="email" placeholder="Email" required><br>
        4. <input name="name4" type="text" placeholder="Name">&nbsp;&nbsp;<input name="email4" type="email" placeholder="Email"><br>
        5. <input name="name5" type="text" placeholder="Name">&nbsp;&nbsp;<input name="email5" type="email" placeholder="Email"><br>
        6. <input name="name6" type="text" placeholder="Name">&nbsp;&nbsp;<input name="email6" type="email" placeholder="Email"><br>
        7. <input name="name7" type="text" placeholder="Name">&nbsp;&nbsp;<input name="email7" type="email" placeholder="Email"><br>
        8. <input name="name8" type="text" placeholder="Name">&nbsp;&nbsp;<input name="email8" type="email" placeholder="Email"><br>
        9. <input name="name9" type="text" placeholder="Name">&nbsp;&nbsp;<input name="email9" type="email" placeholder="Email"><br>
        10. <input name="name10" type="text" placeholder="Name">&nbsp;&nbsp;<input name="email10" type="email" placeholder="Email"><br>
        <br>
        <div style="color: red">{{ errors }}</div>
        <br>
        <input type="submit" value="Submit">
      </form>
    </p>
  </body>
</html>
